if !schools
    p No schools, no form!
else if schools.length == 0
    p schools.length is 0
else
    form(action="/transferCredit", method="post")
        input(type="hidden", name="formname", value="equivalence")
        input(type="hidden", name="start_focus", id="start_focus", value="")
        table(class="dropdown-table")
            tr
                th 
                    label(class="lbl", for="OrgCode") School:
                td
                    select(class="dropdown-container", name="OrgCode", id="OrgCode", required)
                        option(value="") &mdash;Please select a school&mdash;
                        each rowObj in schools
                            if (postdata.OrgCode && (postdata.OrgCode == rowObj.OrgCode))
                                option(value = rowObj.OrgCode, selected) #{rowObj.College}
                            else 
                                option(value = rowObj.OrgCode) #{rowObj.College}
                    span(class="flag")

            //- Course form
            tr
                th
                    label(class="lbl", for="CrsID") Course(s):
                td
                    select(class="dropdown-container high-container", name="CrsID[]", id="CrsID", multiple)
                        option(value="") &mdash;Please select one or more courses&mdash;
                        //- if postdata.OrgCode && courses && (courses.length > 0)
                        //- FILL IN THE OPTIONS HERE FOR THE ACTUAL COURSES
                        each rowObj in courses
                            if (CrsID && CrsID.includes(String(rowObj.CrsID)))
                                option(value = rowObj.CrsID, selected) #{rowObj.CrsCode}
                            else
                                option(value = rowObj.CrsID) #{rowObj.CrsCode}
                    span(class="flag")

        //- input(class="bttn_reset", type="reset", value="Reset")
        input(class="bttn_eq", id="bttn_eq", type="submit", value="Find Equivalences", disabled, tabindex="0")
    script.
        initializeForm('#{postdata.start_focus}')
